filebeat.inputs:



- type: log
  enabled: true
  paths:
    - ./*.log
    - /usr/src/app/demo.log
    - /logs/*.log

  # Change to true to enable this input configuration.


  processors:
    - dissect:
        tokenizer: "%{agent.name|string} - %{timestamp|string} - %{memory|double} - %{cpu_load|double} - %{agent.code|string}"
        field: "message"
        target_prefix: "monitor"

    # Paths that should be crawled and fetched. Glob based paths.


setup.template.settings:
  index.number_of_shards: 3


output.elasticsearch:
  # Array of hosts to connect to.
  hosts: [ "https://${ELASTICSEARCH_HOST_PORT}" ]
  username: "${ELASTIC_USERNAME}"
  password: "${ELASTIC_PASSWORD}"
  ssl.verification_mode: none


setup.kibana:
  host: "https://${KIBANA_HOST_PORT}"
  username: "${ELASTIC_USERNAME}"
  password: "${ELASTIC_PASSWORD}"
  ssl.verification_mode: none

